#interfacesGridPanel-body .x-grid-td {
   vertical-align: middle;
}

.node-red {
	color:red;
}

.node-gray {
	color:gray;
}

.custom-loader > .x-mask-msg-inner > .x-mask-msg-text {
    background-image: none;
    padding : 5px 5px 5px 5px;
    font-weight : bold;
    color:black;
}

.x-tip {
    width: auto !important;
}
.x-tip-body {
    width: auto !important;
}
.x-tip-body span {
    width: auto !important;
}